{% extends 'Birds/base.html' %}
{% block body %}

<body>
  <img src = "{{ bird.Spectograms.url}}" width = "200" height = "200"/>
	<p><strong>BirdID: </strong> {{bird.pk}} </p><span><img src = "" width = "" height = ""/></span><br/>
<!-- Change Location form -->
  <form method= 'POST'  action = "">
    {% csrf_token %}
    <p><strong>Location: </strong>{{bird.Location}} </p>
    <select name = "location">
      <option>Location1</option>
      <option>Location2</option>
      <option>Location3</option>
    </select>
    <input type="submit">
  </form>

	<p><strong>Parents: </strong>{{ bird.Parent }}</p><br>

<!-- Change experimenter form -->
  <form action = "/" id = 'editform'>
    <p><strong>Experimenter: </strong>{{ bird.Experimenter }}</p>
    <select name = "experimenter">
      <option>Experimenter1</option>
      <option>Experimenter2</option>
      <option>Experimenter3</option>
    </select>
  </form>

<!-- Add/Edit bird notes form -->
  <form action = "">
    <p><strong>Notes: </strong>{{ bird.Notes }}</p>
    <textarea name = "BirdNotes" placeholder="Enter notes here:"></textarea>
  </form action = "">
  <span><img src = "{{ bird.Spectograms.url}}" width = "200" height = "200"/></span><br>

<!--Add/change procedures-->
  <form action = "">
    <p><strong>Procedures: </strong>{{ bird.Procedure }}</p>
    <select name = "procedures">
      <option>Procedure1</option>
      <option>Procedure2</option>
      <option>Procedure3</option>
      <option>Procedure4</option>
      <option>Procedure5</option>
    </select>
  </form>
	<p><strong>Age: </strong>{{ bird.Age }}</p><br>
</body>

{% endblock %}
