{% extends 'Birds/base.html' %}
{% block body %}

  <body>

  		<h1>This is the Sober Lab DB:</h1>
  <ul>
  	<li> <a href="#" class="button">Instant Claim</a> </li>
  	<li> <a href="#" class="button">RIP :(</a> </li>
  	<li> <a href="#" class="button">Bird Search</a> </li>
  	<li> <a href="#" class="button">Lab Members birds</a> </li>
  	<li> <a href="#" class="button">G18/G28 Birds</a> </li>
  	<li> <a href="{%url 'Birds:all_unclaimed_males' %}" class="button">SHOW UNCLAIMED MALES</a> </li>
  </ul>
  </body>
  </html>
{% endblock %}
